@charset "utf-8";

.redactor-box {
  float: left;
  width: 100%;
}

/* plays well with django-suit full-width */
.full-width .redactor-box {
  max-width: none;
}

body .redactor-box_fullscreen {
    max-width: none;
}

.redactor-box textarea, .redactor-box iframe, .redactor-editor {
    min-height: 300px;
}

form .redactor-toolbar {
    padding-left: 0;
}

/*span#redactor-image-box when you click to edit the image*/
#redactor-image-box {
    max-width: 100%;
}

.form-row .redactor-box p {
    font-size: 14px;
    margin-left: 0;
    padding-left: 0;
}


/* Lists */
.redactor-styles li {
    font-size: 14px;
}
.redactor-styles ul {
    margin-left: 24px;
}
.redactor-styles ul li {
    list-style-type: square;
}
.redactor-styles ol li {
    list-style-type: decimal;
}

.redactor-toolbar {
  z-index: 1;
}

